:root{
    --bg_black: #333;
    --bg_white: #fff;
    --cellaAttiva: rgb(224, 26, 198);
}

#viewport{
    height: 100vh;
}

header{
    height: 8vh;
}

h1{
    font-size: 50px;
    text-shadow: 0 0 5px #219cf3,
    0 0 8px #219cf3;
}

main{
    height: 80vh;
}

.griglia{
    max-width: 650px;
}

.box{
    border: 1px solid rgb(205, 224, 26);
    width: calc(100% / 10);
    height: 65px;
    align-items: center;
    display: flex;
    justify-content: center;
    min-height: 60px;
    text-align: center;
    cursor: pointer;
}
.box_medium{
    border: 1px solid rgb(205, 224, 26);
    width: calc(100% / 9);
    align-items: center;
    display: flex;
    justify-content: center;
    min-height: 75px;
    text-align: center;
    cursor: pointer;
}
.box_hard{
    border: 1px solid rgb(205, 224, 26);
    width: calc(100% / 7);
    align-items: center;
    display: flex;
    justify-content: center;
    min-height: 75px;
    text-align: center;
    cursor: pointer;
}

.bg_light_green{
    background-color: var(--cellaAttiva);
}

.dark_light_mode{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.dark_light_mode label{
    position: relative;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.dark_light_mode label input{
    appearance: none;
}

.dark_light_mode label span{
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(#555353, #363535,#303030);
    border: 2px solid #222;
    border-radius: 6px;
    box-shadow: inset 0 5px 1px rgba(0, 0, 0, 0.35),
    0 5px 5px rgba(0, 0, 0, 0.5),
    0 15px 25px rgba(0, 0, 0, 0.35);
}

.dark_light_mode label input:checked ~ span{
    box-shadow: inset 0 2px 2px rgba(0, 0, 0, 0.35),
    inset 0 5px 5px rgba(0, 0, 0, 0.5),
    inset 0 15px 25px rgba(0, 0, 0, 0.35);
}
.dark_light_mode label span::before{
    content: '';
    position: absolute;
    inset: 5px 3px;
    border-top: 1px solid #ccc;
    filter: blur(2px);
}

.dark_light_mode label i{
    position: relative;
    z-index: 10;
    font-size: 1.5rem;
    color: #111;
}

.dark_light_mode label input:checked ~ i{
    color: #fff;
    text-shadow: 0 0 5px #219cf3,
    0 0 8px #219cf3;
}

footer{
    height: 8vh;
}